<h4>Profile</h4>

<%= render 'users/profile', user: current_user %>


<h4>Users</h4>
<table class="table table-hover table-inverse">
	<thead>
		<tr>
			<th>image</th>
			<th>name</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
		<tr>
			<td>
				<%= attachment_image_tag user, :user_image, fallback: "no_image.jpg", size:'40x40' %>
				</td>
			<td><%= user.name %></td>
			<td><%= link_to "Show", user_path(user) %></td>
		</tr>
		<% end %>
	</tbody>
</table>
</div>
</div>
</div>