<div class="container">
<div class="row">
<div class="col-md-3">
<%= render 'users/profile', user: current_user %>
</div>

<div class="col-md-6">
<table class="table table-inverse post">
	<thead>
		<tr>
			<th>image</th>
			<th>name</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<% @users.each do |user| %>
		<tr>
			<td>
				<%= attachment_image_tag user, :user_image, fallback: "no_image.jpg", class:"user-profile-image" %>
				</td>
			<td><%= user.name %></td>
			<td><%= link_to "この人のページを見る", user_path(user) %></td>
		</tr>
		<% end %>
	</tbody>
</table>
</div>
</div>
</div>