<div class="post inner">
街を歩いていて、「謎のオブジェ」「古びた廃墟」「不思議な形をした建物」など、<br>
<b>”ちょっと気になるもの”</b>に遭遇したことはありませんか<br>
Hidden Placesは「ちょっと気になる場所」を共有するためのプラットフォームです<br>
あなたの街や旅行先の「ちょっと気になる場所」を投稿してみましょう

使い方はかんたん！<br>
<img src="<%= asset_path "about_image.png" %>" class="about_img" />
<br><br>
まずは<%= link_to "新規登録", new_user_registration_path %>してみましょう

</div>