/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba($color: #2f5844, $alpha: 1);
  color: lightgoldenrodyellow;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

a {
  color: lightgoldenrodyellow;
}

a:visited {
  color: lightgoldenrodyellow;
}

a:hover {
  text-decoration: underline dotted;
}

.nvbcustom {
  background-color: lightgoldenrodyellow;
  height: 65px;
  color: lightgoldenrodyellow;
}

//プロフィール

.profile {
  padding: 20px;
  text-align: center;
  border-radius: 15px;
  background-color: #537a6b;
}

.user-image {
  margin-bottom: 20px;
}

.user-profile-image {
  width: 100px;
  height: 100px;
}

.name {
  font-size: 25px;
  padding: 15px;
  font-weight: bold;
  margin: auto;
}

.introduction {
  margin: 20px 20px;
  padding: 10px 10px;
  height: 100px;
  font-size: 15px;
  text-align: left;
  border: dotted;
}

//post

.post {
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  background-color: #537a6b;
}

.post-image {
  width: 500px;
  height: auto;
}
.comment {
  width: 90%;
  border: dotted;
}

.comment-mini {
  margin: 10px;
}

td {
  padding: 5px;
}

.comment-width {
  width: 350px;
}

.form {
  background-color: #537a6b;
  width: 300px;
}

.heart {
  color: pink;
}

.post_info {
  text-align: right;
  margin: 5px;
}

//new,edit

.post-form {
  width: 600px;
  margin: 20px;
}

//top,about

.logo {
  width: 60px;
  height: auto;
}

.inner {
  width: 80%;
  max-width: 600px;
  height: 500px;
  margin: 0 auto;
}

.about_img {
  text-align: center;
  width: 500px;
  height: auto;
}

.top_background {
  background-image: image-url("map_pin_shadow.png");
  background-position: right bottom;
  background-size: 30% auto;
  background-repeat: no-repeat;
}
